*{box-sizing: border-box;}
.bodyLogin{background: #F1F4F7;padding: 10px;}
.loginCard{
    border: 1px solid #ccc;
    width: 370px;
    margin: 10% auto;
    border-radius: 6px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 5px #0000001c;
    transition: 0.3s all;
    
}


.headerTopDiv{background: #0085c7;color: white;padding: 7px;padding-bottom: 10px;}
.bodyDiv{background: white;padding: 10px;}
.kodeMeli{max-width: 80%;margin: auto;padding: 3px;display: flex;justify-content: center;}
.ramzObur{
    max-width: 80%;
    margin: auto;
    padding: 3px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.phoneImg{max-width: 29px;opacity: 0.7;height: 28px;}
.inputLogin{border: 1px solid #ccc;padding: 4pt;border-radius: 6px 0px 0px 6px;}
.kodeMeliChild{margin-right: 10px;display: inline-flex;}
.spanLogin{
background: #0085c7;
color: white;
border-radius: 0px 6px 6px 0px;
font-size: 13px;
padding: 6px;
margin-left: -1px;
}

.btnLogin{
    background: #0085c7;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 3px 30px 6px 30px;
    margin-top: 20px;
    margin-right: 47px;
    cursor: pointer;
}
.forgetDiv{border-top: 1px solid #ccc;padding: 10px 0;}
.forgetDiv *{color: #878787;cursor: pointer;}
.falock{font-size: 25px;margin-top: 5px;}
@media(max-width:767px) {
    .loginCard {border: 1px solid #ccc;max-width: 100%;margin: 35% auto;}
    .kodeMeli {max-width: 100%;margin: auto;padding: 8px;display: flex;justify-content: center;}
    .ramzObur{max-width: 100%;}
    .inputLogin {width: 58%!important;}
    .btnLogin{padding: 6px 45px 10px 45px;margin-right: 23px;}

}





