.container{
    max-width: 1200px;
    padding: 0px 15px;
    margin: auto;
}

.container-fluid{
    max-width: 95%;
    padding: 0px 15px;
    margin: auto;
}

.d-flex{display: flex;}



.p-top-50{padding-top: 50px}

.anim{
    animation: leftToCenter 0.5s -0.2s ease-in-out;
}

@keyframes leftToCenter {
    0% {transform: translateX(-200%);-webkit-transform: translateX(-200%)};
    100% {transform: translateX(0%);-webkit-transform: translateX(0%)};
}

.page{
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 15px;
    background: #fff;
    max-width: 1200px;
    margin: 50px auto;
    position: relative;
}

a.link{font-family: "IRANYEKANWEBBOLD"!important;}
.dir-rtl{direction: rtl;}
.disabled{
    background-color: rgb(117, 117, 117)!important;
    box-shadow: none!important;opacity: 0.3;cursor: none;}
    .disabled:hover{transform: none!important;}
    .disabled a{cursor: none;}

    .loginCard{
        border: 1px solid #ccc;
        width: 370px;
        margin: 10% auto;
        border-radius: 6px;
        background: #fff;
        overflow: hidden;
        box-shadow: 0px 0px 5px #0000001c;
        transition: 0.3s all;
        
    }
    .d-none{display: none!important;}
