.bodyRegister{transition: 0.3all;animation: leftToCenter 0.5s -0.2s ease-in-out;background: #F1F4F7;padding-bottom: 20px;}
@keyframes leftToCenter {
    0% {transform: translateX(-200%);-webkit-transform: translateX(-200%)};
    100% {transform: translateX(0%);-webkit-transform: translateX(0%)};
}