@font-face {
    src: url(../fonts/IRANYEKANWEBBOLD.TTF) format('woff');
    font-family: "IRANYEKANWEBBOLD";
  }

  .uploadStyle{
    background: #009253;
    width: 39%;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  .uploadStyle:hover{background: #00683b;}
  .opacityNone{opacity: 0;cursor: pointer;width: 11%;z-index: 2;position: absolute;}
.uploadIcon{margin-left: 10px;}
.upload{width: 100%;font-family: "IRANYEKANWEBBOLD";margin-bottom: 10px;}

.UploadContainer{border: 1px solid #ccc;padding: 10px;width: 87%;margin: auto;
  background: #fff;border-radius: 2px;display: flex;justify-content: space-around;
  align-items: center;}

  .UploadReportContainer{border: 1px solid #ccc;padding: 10px;width: 87%;margin: auto;
    background: #fff;border-radius: 2px;display: flex;justify-content: space-around;
    align-items: center;border-radius: 0px 0px 10px 10px;}  

.UpBtn{background: #009253;
    color: #fff;
    padding: 5px 17px 9px 17px;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    font-family: inherit;
    transition: 0.4s all;
}

.UpBtn:hover{background: #005e35;}
.navDiv{width: 49%;border: 1px solid #00000054;}
.nav{width: 1%;height: 30px;background: #009253;}
.counter {font-size: 22px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: #000;
  display: block;
  margin-top: -34px;
  position: relative;
  top: 4px;
}

@media(max-width:767px){
  .UploadContainer {width: 97%;}
  .UpBtn {padding: 2px 10px 5px 10px;font-size: 15px;margin-right: 17px;}

}


